*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-image: url("../img/background3.jpg");

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container-fluid{
  width: 100%;
}

h3 {
  text-shadow: 4px 4px 6px #646057;
  font-size: 4em;
}
/*NAV BAR*/
#nav-main-container {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
}

nav{
  min-width: 350px;
}


.side-nav li {
  margin-top: 2em;
}

.side-nav li > a {
  color: #fff;
  font-size: 2.5em;
  padding-bottom: 1.5em;
  text-align: center;
}

.side-nav {
  background-image: url('../img/sid-nav.jpg');
  background-size: cover;
  text-shadow: 4px 4px 6px black;
}

#logo-container {
  margin-left: 2em;
}

#nav-main-container > div > div > nav > div > ul.right.hide-on-med-and-down {
  margin-right: 2em;
}

/*CARD CONTENT*/
.card-content{
  padding: 0;
  margin: 0
}

.card-image {
  height: 45%;
}

/*CARD #### 1111111*/

.dnd-1 {
  background-image: url("../img/dnd1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.card-title {
  position: absolute;
  bottom: 30%;
  left: 1%;
  text-shadow: 2px 2px 4px black;

}

body > div:nth-child(1) > div.section > div > div.col.m12.xl6 > div > div > span{
  font-size: 1.25em;
  margin-left: .5em;
}

body > div:nth-child(1) > div.section > div > div.col.m12.xl6 > div > div > p {
  position: absolute;
  bottom: 5%;
  left: 1%;
  text-shadow: 2px 2px 4px black;
  font-size: 1em;
  margin-left: .5em;
}

  /*CARDSS*/
.card-stacked i {
  font-size: 2em;
  margin-right: 1em;
}

.card-stacked p:nth-of-type(1) {
  font-size: 1em;
}

.card-stacked p:nth-of-type(2) {
  font-size: .75em;
  margin-top: 1em;
}

/*CARD ####66666*/
.dnd-6 {
  background-image: url("../img/dnd6.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.card-title-for-6 {
  position: absolute;
  bottom: 30%;
  left: 1%;
  text-shadow: 2px 2px 4px black;
}

body > div:nth-child(2) > div > div > div.col.s12.m12.xl6 > div > div > p {
  position: absolute;
  bottom: 5%;
  left: 1%;
  text-shadow: 2px 2px 4px black;
  font-size: 1em;
  margin-left: .5em;
}
 /*FOOTER*/

.page-footer {
  background-color: #443939;
  text-shadow: 1px 1px 2px gray;
}

@media only screen and (max-width : 992px) {
  #logo-container {
    margin-left: 0;
  }
}
