/* For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}*/


/* End for testing */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.card-content{
  overflow: visible;
  padding: 0;
  margin: 0
}

.card-image {
  height: 45%;
}


/*CARD #### 1111111*/

.dnd-1 {
  background-image: url("../img/dnd1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.card-title {
  position: absolute;
  bottom: 30%;
  left: 1%;
  text-shadow: 2px 2px 4px black;

}

body > div:nth-child(1) > div.section > div > div.col.m12.xl6 > div > div > span{
  font-size: 1.25em;
  margin-left: .5em;
}


body > div:nth-child(1) > div.section > div > div.col.m12.xl6 > div > div > p {
  position: absolute;
  bottom: 5%;
  left: 1%;
  text-shadow: 2px 2px 4px black;
  font-size: 1em;
  margin-left: .5em;
}


  /*CARD ##### 2222222*/

.card-content:nth-of-type(2) > p:nth-of-type(1) {
  font-size: .9em;
  margin-top: 1em;
}

.card-content i {
  font-size: 1.5em;
}

.card-content:nth-of-type(2) > p:nth-of-type(2) {
  font-size: .75em;
  margin-top: .5em
}

/*CARD ####66666*/
.dnd-6 {
  background-image: url("../img/dnd6.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.card-title-for-6 {
  position: absolute;
  bottom: 30%;
  left: 1%;
  text-shadow: 2px 2px 4px black;
}

body > div:nth-child(2) > div > div > div.col.s12.m12.xl6 > div > div > p {
  position: absolute;
  bottom: 5%;
  left: 1%;
  text-shadow: 2px 2px 4px black;
  font-size: 1em;
  margin-left: .5em;
}
